.search-box {
  position: relative;
  display: flex;
  width: 100%;
}

.search-box input[type='text'] {
  flex-grow: 1;
  padding: 0.7rem 0 0.7rem 0.8rem;
  border: 1px solid #333;
  border-radius: 1.5rem;
}

.search-box button {
  position: absolute;
  top: -0.05rem;
  right: 0;
  cursor: pointer;
  padding: 0.8rem 0.9rem 0.8rem 0.8rem;
  border-radius: 0 1.5rem 1.5rem 0;
  border: none;
  background: none;
  color: #333;
  font-size: 1rem;
  transition: 0.5s;
}

.search-box input:focus {
  outline: 0;
  box-shadow: 0 0 5px #e1e1e1, 0 0 10px #e1e1e1, 0 0 15px #e1e1e1;
}

.search-box button:hover {
  color: #4eadb8;
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .login_form {
    width: 250px;
  }
}
@media (min-width: 600px) {
  .login_form {
    width: 600px;
  }
}
